<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn.soft.product1"
    android:versionCode="11"
    android:versionName="1.10">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <!-- Required -->
    <permission
        android:name="com.learn.soft.product1.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.learn.soft.product1.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.process_outgoing_calls" />

    <!-- 以下为可选权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 获取联系人信息，demo中演示发送通讯录消息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Share -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 爱贝 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 银联3.3.3添加权限 -->
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <!-- 微信 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.learn.soft.product.jni.JiaZhengApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_yungou"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:sharedUserId="android.uid.system"
        android:theme="@style/AppTheme">

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5779e5e0e0f55a35410011ca" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <!-- Share -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent1105563142" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--&lt;!&ndash; 微信分享回调 &ndash;&gt;-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />


        <!-- 自己的 -->

        <activity
            android:name="com.learn.soft.product.main.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="lelegou" />
                <data
                    android:pathPrefix="/lelebuyflagappdo/open"
                    android:scheme="openlelebuybegin" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.learn.soft.product.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.learn.soft.product.main.activity.ShowWebViewInfoActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="platformapi"
                    android:scheme="alipays" />
            </intent-filter>
            -->
        </activity>

        <!-- ++++++++++++++++++++++++ -->
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.SearchProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.UpdatePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.PersonalDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.UpdateNickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.UpdatePhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.AddressManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.EditAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.ShaiDanActivity"
            android:screenOrientation="portrait" />
        <!-- 2017.1.10 -->
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.AllProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.RecentAnnouncedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.ShareOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.CreateNewCircleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.SelectProductActivity"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name="com.wangyi.lelegou.maofengqi.ui.activity.PaymentActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.IBuiltCirclesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.ParticipateCirclesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.MyCircleOfFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.ContactsActivity"
            android:screenOrientation="portrait" />

        <!-- 爱贝 -->
        <!-- 微支付SDK界面 -->
        <!-- 显示网页界面 -->
        <!--<activity-->
            <!--android:name="com.iapppay.pay.channel.weixinpay.WeixinWapPayActivity"-->
            <!--android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"-->
            <!--android:theme="@android:style/Theme.Translucent" />-->
        <!--<activity-->
            <!--android:name="com.iapppay.ui.activity.ServiceCenterActivity"-->
            <!--android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <!--&lt;!&ndash; 收银台-普通 &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.iapppay.ui.activity.normalpay.PayHubActivity"-->
            <!--android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <!--&lt;!&ndash; 游戏卡和话费卡界面 &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.iapppay.pay.channel.gamepay.GamepayActivity"-->
            <!--android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"-->
            <!--android:launchMode="singleTask"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <!--&lt;!&ndash; 银联支付结果返回 &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.iapppay.pay.channel.unionpay.UpPayResultActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:theme="@android:style/Theme.Translucent" />-->

        <!-- 银联3.3.3start -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <!--<activity-->
            <!--android:name="com.unionpay.uppay.PayActivity"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:excludeFromRecents="true"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="portrait" />-->
        <!-- 银联3.3.3 end -->


        <!-- alipay sdk begin (新的支付宝) -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- alipay sdk end -->


        <!--&lt;!&ndash; 财付通wap start &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.iapppay.pay.channel.tenpay.wap.TenpayWapPayActivity"-->
            <!--android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"-->
            <!--android:theme="@android:style/Theme.Translucent" />-->
        <!--<activity-->
            <!--android:name="com.iapppay.pay.channel.tenpay.wap.WebActivity"-->
            <!--android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!-- 财付通wap end -->


        <!-- 微信 -->
        <!--<activity-->
            <!--android:name="com.tm.pay.TM_V_PayView"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:launchMode="singleTop"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
            <!--android:windowSoftInputMode="adjustPan|stateHidden" />-->
        <!--<activity-->
            <!--android:name="com.tm.pay.TM_V_Progress"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:launchMode="singleTop"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<activity-->
            <!--android:name=".wxapi.WXPayEntryActivity"-->
            <!--android:configChanges="orientation|keyboardHidden|navigation|screenSize"-->
            <!--android:exported="true"-->
            <!--android:launchMode="singleTop"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
            <!--android:windowSoftInputMode="adjustResize|stateHidden" />-->
        <activity
            android:name="com.switfpass.pay.activity.QQWapPayWebView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- <activity -->
        <!-- android:name="com.alipay.sdk.app.H5PayActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|navigation|screenSize" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="behind" -->
        <!-- android:windowSoftInputMode="adjustResize|stateHidden" /> -->
        <!-- <activity -->
        <!-- android:name="com.alipay.sdk.auth.AuthActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|navigation" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="behind" /> -->

        <!--<service-->
            <!--android:name="com.tm.pay.TM_Service"-->
            <!--android:enabled="true"-->
            <!--android:exported="false"-->
            <!--android:permission="android.permission.RECEIVE_BOOT_COMPLETED" />-->

        <!--<receiver-->
            <!--android:name="com.tm.pay.TM_Receiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter android:priority="2147483647">-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
            <!--<intent-filter android:priority="2147483647">-->
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->

                <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->
            <!--<intent-filter android:priority="2147483647">-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->
            <!--<intent-filter android:priority="2147483647">-->
                <!--<action android:name="android.intent.action.START_REPORT" />-->
            <!--</intent-filter>-->
            <!--<intent-filter android:priority="2147483647">-->
                <!--<action android:name="android.intent.action.CBOOT_COMPLETED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<meta-data-->
            <!--android:name="SDKVERSION"-->
            <!--android:value="TA100001" />-->
        <!--<meta-data-->
            <!--android:name="APPID"-->
            <!--android:value="APP2016112900003" />-->
        <!--<meta-data-->
            <!--android:name="APPKEY"-->
            <!--android:value="ef00a855df414f9290d36694b9b5aa7f" />-->
        <!--<meta-data-->
            <!--android:name="APPSECRET"-->
            <!--android:value="ada9ba5a4f324c2983eac9ad50330a13" />-->
        <!--<meta-data-->
            <!--android:name="APPDATA"-->
            <!--android:value="6695_527_37272_1576" />-->
        <!--<meta-data-->
            <!--android:name="APPCODE"-->
            <!--android:value="d3701ebc7f9e4a7bb2f53aab96f9ed45" />-->

        <!-- jpush begin -->


        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.learn.soft.product1" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.learn.soft.product1" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.learn.soft.product1" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="com.learn.soft.product.util.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.learn.soft.product1" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="70a621f21ea47205ad48cf78" /> <!-- </>值来自开发者平台取得的AppKey -->


        <!-- jpush end -->


        <!-- 新增的商品详情 -->
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.ShoppingflowActivity.ShopDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.ShoppingflowActivity.NoShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.ShoppingflowActivity.CartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.ShoppingflowActivity.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.ShoppingflowActivity.AccountRechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.ShoppingflowActivity.GetAwardShopInforActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wangyi.lelegou.maofengqi.ui.activity.ShoppingflowActivity.BalanceActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.wangyi.lelegou.maofengqi.ui.activity.ShoppingflowActivity.AddressActivity"></activity>
    </application>

</manifest>